BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
NamespaceIndentation: None
AccessModifierOffset: -4
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SortIncludes: false
